<div class="image">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <img src="assets/{{img_source}}" alt="img_source" title="img_source" width="35%" height="100%">
      <span class="example-spacer1"></span>
      <img src="assets/{{img_ua}}" alt="img_ua" title="img_ua" width="15%" height="70%">
      <span class="example-spacer2"></span>
      <img src="assets/{{img_ubt}}" alt="img_ubt" title="img_ubt" width="15%" height="70%">
      <span class="example-spacer2"></span>
      <img src="assets/{{img_tum}}" alt="img_tum" title="img_tum" width="15%" height="70%">
    </mat-toolbar-row>
  </mat-toolbar>

  <app-coffee-information></app-coffee-information>
</div>

