.mat-toolbar.mat-primary {
  background: lightskyblue;
}

.image {
  background-size: cover;
  background-image: url('../assets/Unknown.jpg');
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  // opacity: .5;
}

.example-spacer1 {
  flex: 6 6 auto;
}

.example-spacer2 {
  flex: 1 1 auto;
}


