table {
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
}

.mat-header-cell {
  font-family: "Helvetica";
  font-weight: bold;
  font-size: 19px;
}

.example-button-row button,
.example-button-row a {
  display: block;
  margin: auto;
  margin-top: 10px;
  width: 200px;
}

.highlight{
  background: lightgrey;
}

.mat-cell {
  font-family: "Helvetica";
  font-size: 18px;
  font-weight: bold;
}
