table {
    width: 100%;
  }

.example-button-row button,
.example-button-row a {
  display: block;
  margin: auto;
  margin-top: 10px;
  width: 200px;
}

.highlight{
  background: lightblue;
}

.mat-cell {
  font-family: "Helvetica";
  font-size: 18px;
  font-weight: bold;
}
